CI_ENVIRONMENT = production

app.baseURL = "{{APP_BASE_URL}}"

database.default.hostname = "{{DB_HOST}}"
database.default.database = "{{DB_NAME}}"
database.default.username = "{{DB_USER}}"
database.default.password = "{{DB_PASSWORD}}"
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

session.driver = CodeIgniter\Session\Handlers\FileHandler
session.savePath = WRITEPATH . "session"

logger.threshold = 4
